* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Gilroy";
}


a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
}

.start-btn{
    background: #473BF0;
    padding: 13px 17px;
    border-radius: 8px;
    color: inherit;
    display: flex;
    align-items: center;
}

.start-btn svg{
    margin-left: 10px;
    margin-top: 2px;
}

.start{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #161C2D 99.54%), url('../img/bg.png') no-repeat bottom;
    background-size: cover;
    position: relative;
}


.header{
    color: #FFFFFF;
    padding: 17px 0;
}

.header-wrapper{
    max-width: 1500px;
    margin: 0 40px;
    display: flex;
    align-items: center;
}

.header-logo{
    margin-right: 18px;
    line-height: 36px;
    align-self: flex-start;
}

.header-nav{
    display: flex;
    column-gap: 40px;
}

.header-nav__item{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
}

.header .start-btn{
    margin-left: auto;
}


.hero{
    padding: 130px 0;
    color: #FFFFFF;
}

.hero-wrapper{
    width: 50%;
}

.hero-title{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 55px;
    margin-bottom: 30px;
}

.hero-text{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
    margin-bottom: 30px;
}

.facts-wrapper{
    display: flex;
    justify-content: center;
}

.facts-list{
    display: flex;
    margin-top: 60px;
    margin-bottom: 75px;
    gap: 85px;
}


.facts-list__item{
    width: 295px;
    display: flex;
    gap: 30px;
}

.facts-list__num{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #161C2D;
}

.facts-list__text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.service{
    border-top: 1px solid #E7E9ED;
}

.service-wrapper{
    display: flex;
    flex-direction: column;
}

.service-info{
    max-width: 550px;
    padding-top: 80px;
    margin: 0 auto;
}

.service-header{
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #161C2D;
}

.service-text{
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.service-ul{
    display: flex;
    justify-content:center;
    gap: 29px;
    padding-top:90px;
    padding-bottom: 120px;
}

.service-ul_item{
    border: 1px solid #E7E9ED;
    border-radius: 10px;
}

.service-ul_img{
    width: 250px;
    border-radius: 10px 10px 0 0;
}

.service-ul_btn{
    width: 250px;
    background:none;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #161C2D;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-us{
    background-color: #F4F7FA;
}

.choose-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 135px;
    padding-top: 92px;
}

.choose-info{
    max-width: 550px;
    padding-bottom: 74px;
    margin: 0 auto;
}

.choose-header{
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #161C2D;
}

.choose-text{
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.choose-items{
    display: flex;
    gap: 95px;
}

.choose-items_vid{
    position: relative;
}

.choose-vid{
    width: 540px;
    border-radius: 8px;
}

.choose-vid_btn{
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 92px;
    height: 92px;

    background: none;
    padding: 0;

}

.pause-icon {
    display: none;
}

.choose-svg_oval{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-svg_play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-items_ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
}

.choose-items_ol_li{
    display: flex;
}

.choose-items_ol li::before {
    content: "";
    display: block;
    width: 43px;
    height: 43px;
    flex: 0 0 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.choose-items_ol li:nth-child(1)::before {
    background-image: url("../img/1.svg");
}

.choose-items_ol li:nth-child(2)::before {
    background-image: url("../img/2.svg");
}

.choose-items_ol li:nth-child(3)::before {
    background-image: url("../img/3.svg");
}


.choose-items_ol_li_h3{
    height: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 10px;
    color: #161C2D;
}

.choose-items_ol_li_text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.alert{
    background-color: #473BF0;
    height:90px;
    display: flex;
    justify-content: center;
}


.alert-header{
    display: flex;
    justify-content: center;
    padding: 34px 0;
}

.alert-header_text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #FFFFFF;
}

.alert-header_text_line{
    text-decoration: underline 1px;
}

.alert-ul{
    gap: 20px;
    display: flex;
    align-items: center;
}

.alert-header_new{
    margin-right: 20px;
}


.reviews-info_ul{
    display: flex;
    gap: 57px;
    padding-top: 100px;
    padding-bottom: 110px;
}

.reviews-info_li{
    display: flex;
    width: 330px;
}

.reviews-info_ul_block{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}


.reviews-info_ul_person{
    display: flex;
    align-items: center;
    gap:20px;
}

.reviews-logo{
    width: 100px;
}

.reviews-photo{
    width: 67px;
}


.reviews-info_ul_block_li_txt{
    height: 102px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #161C2D;
}

.reviews-name{
    height: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    color: #161C2D;
}

.reviews-role{
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.reviews{
    display: flex;
    justify-content: center;
}

.cta-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161C2D;
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 745px;
}

.cta-block{
    display: flex;
    justify-content: center;
    width:1100px;   
}

.cta-block_info_ul{
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 50%;
}

.cta-block_info_ul_text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cta-block_info_li_h3{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.cta-block_info_li_text{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
}

.cta-block_form{
    background: #FFFFFF;
    border: 1px solid #E7E9ED;
    box-shadow: 0px 34px 33px -23px rgba(22, 28, 45, 0.129453);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    padding: 30px;
    width: 350px;
}

.cta-block_form_ul{
    width: 100%;
}

.cta-block_form_ul{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.cta-block_form_text{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
    margin-bottom:10px;
}

input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.cta-form_input{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
    width:100%;
    border-radius: 8px;
    height: 50px;
    padding: 18px 12px;
    border: 1px solid #E7E9ED;
}

.cta-form_select{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
    width:100%;
    border-radius: 8px;
    height: 50px;
    padding: 18px 12px;
    border: 1px solid #E7E9ED;
}
    

.cta-block_form_btn{
    width: 100%;
    height: 60px;
    background-color: #473BF0;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px auto;
    border-radius: 8px;
}

.newsletter{
    border-bottom: 1px solid #E7E9ED;
}

.newsletter_wrapper{
    margin: 75px auto;
    width: 1100px;
}

.newsletter_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter_text{
    height: 88px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #161C2D;
    width: 500px;
}

.newsletter_form_ul{
    display: flex;
    gap:20px;
}

.newsletter_form_btn{
    background: #473BF0;
    width: 170px;
    height: 55px;
    padding: 13px 17px;
    border-radius: 8px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    color: #FFFFFF;
}

.newsletter_form_email{
    width: 290px;
    height: 55px;
    border-radius: 8px;
    border: 1px solid #E7E9ED;
    padding: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
}

.footer{
    display: flex;
    justify-content: center;
    width: 1100px;
    margin: 100px auto 0 auto;
}

.footer-table{
    width: 1100px;
    border-spacing: 5px;
    table-layout: fixed;
    padding-bottom: 100px;
    border-bottom: 1px solid #E7E9ED;
}

th{
    height: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
    text-align: left;
    padding-bottom: 20px;
}

.footer-wrapper a{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    color: #161C2D;
}

.footer-wrapper a.a_contact{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 40px;
    color: #473BF0;
}

.footer-bottom{
    display: flex;
    justify-content: center;
}

.footer-bottom_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    width:1100px;
}

.footer-bottom_copyright_ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.footer-bottom_copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #161C2D;
}