* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
}

.start-btn{
    background: #473BF0;
    padding: 13px 17px;
    border-radius: 8px;
    color: inherit;
    display: flex;
    align-items: center;
}

.start-btn svg{
    margin-left: 10px;
    margin-top: 2px;
}

.start{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #161C2D 99.54%), url('../img/bg.png') no-repeat bottom;
    background-size: cover;
    position: relative;
}


.header{
    color: #FFFFFF;
    padding: 17px 0;
}

.header-wrapper{
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-logo{
    margin-right: 18px;
    line-height: 36px;
    align-self: flex-start;
}

.header-nav{
    display: flex;
    column-gap: 40px;
}

.header .start-btn{
    margin-left: auto;
}


.hero{
    padding: 130px 0;
    color: #FFFFFF;
}

.hero-wrapper{
    width: 50%;
}

.hero-title{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 55px;
    margin-bottom: 30px;
}

.hero-text{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.65;
    margin-bottom: 30px;
}

.facts-wrapper{
    display: flex;
    justify-content: center;
}

.facts-text{
    display: flex;
    margin-top: 60px;
    margin-bottom: 75px;
    gap: 85px;
}

.facts-ul_text{
    display: flex;
    gap: 30px;
}

.facts-ul{
    width: 295px;
}

.facts-ul_text_num{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #161C2D;
}

.facts-ul_text_item{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.service{
    border-top: 1px solid #E7E9ED;
}

.service-wrapper{
    display: flex;
    flex-direction: column;
}

.service-info{
    max-width: 550px;
    padding-top: 80px;
    margin: 0 auto;
}

.service-header{
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #161C2D;
}

.service-text{
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.service-ul{
    display: flex;
    justify-content:center;
    gap: 29px;
    padding-top:90px;
    padding-bottom: 120px;
}

.service-ul_item{
    border: 1px solid #E7E9ED;
    border-radius: 10px;
}

.service-ul_img{
    width: 250px;
    border-radius: 10px 10px 0 0;
}

.service-ul_btn{
    width: 250px;
    background:none;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #161C2D;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-us{
    background-color: #F4F7FA;
}

.choose-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 135px;
    padding-top: 92px;
}

.choose-info{
    max-width: 550px;
    padding-bottom: 74px;
    margin: 0 auto;
}

.choose-header{
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #161C2D;
}

.choose-text{
    padding-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.choose-items{
    display: flex;
    gap: 95px;
}

.choose-items_vid{
    position: relative;
}

.choose-vid{
    width: 540px;
    border-radius: 8px;
}

.choose-vid_btn{
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 92px;
    height: 92px;

    background: none;
    padding: 0;
}

.choose-svg_oval{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-svg_play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.choose-items_ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 30px;
}

.choose-items_ol_li{
    display: flex;
}

.choose-items_ol li::before {
    content: "";
    display: block;
    width: 43px;
    height: 43px;
    flex: 0 0 80px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.choose-items_ol li:nth-child(1)::before {
    background-image: url("../img/1.svg");
}

.choose-items_ol li:nth-child(2)::before {
    background-image: url("../img/2.svg");
}

.choose-items_ol li:nth-child(3)::before {
    background-image: url("../img/3.svg");
}


.choose-items_ol_li_h3{
    height: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    margin-bottom: 10px;
    color: #161C2D;
}

.choose-items_ol_li_text{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    color: #161C2D;
    mix-blend-mode: normal;
    opacity: 0.7;
}